{% extends "allauth/layouts/base.html" %}
{% load allauth %}
{% block body %}
    <div id="accountSidebar">
      {% comment %}
        <aside>
            <h2>Account</h2>
            <ul>
                {% url 'account_email' as email_url_ %}
                {% if email_url_ %}
                    <li><a href="{% url 'account_email' %}">Change Email</a></li>
                {% endif %}

                {% url 'account_change_password' as change_password_url_ %}
                {% if change_password_url_ %}
                    <li><a href="{{ change_password_url_ }}">Change Password</a></li>
                {% endif %}

                {% url 'account_change_phone' as phone_url_ %}
                {% if phone_url_ %}
                    <li><a href="{{ phone_url_ }}">Change Phone</a></li>
                {% endif %}

                {% url 'socialaccount_connections' as connections_url_ %}
                {% if connections_url_ %}
                    <li><a href="{{ connections_url_ }}">Third-Party Accounts</a></li>
                {% endif %}

                {% url 'mfa_index' as mfa_index_url_ %}
                {% if mfa_index_url_ %}
                    <li><a href="{{ mfa_index_url_ }}">Two-Factor Authentication</a></li>
                {% endif %}

                {% url 'usersessions_list' as usersessions_list_url_ %}
                {% if usersessions_list_url_ %}
                    <li><a href="{{ usersessions_list_url_ }}">Sessions</a></li>
                {% endif %}
            </ul>
        </aside>
        {% endcomment %}
        <main id="accountMain">
            <div>
                {% if messages %}
                    <div>
                        {% for message in messages %}
                            {% element alert level=message.tags %}
                                {% slot message %}
                                    {{ message }}
                                {% endslot %}
                            {% endelement %}
                        {% endfor %}
                    </div>
                {% endif %}
                <div class="auth-container">
                    {% if base.browser_title is None %}
                        <a href="{% url 'account_profile' %}"><i class="fas fa-reply" aria-hidden="true"></i> Go back</a>
                    {% endif %}
                    {% block content %}{% endblock %}
                </div>
            </div>
        </main>
    </div>
{% endblock %}
